.notitas    {
    float: left;
    width: 40%;
    margin: auto;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 5.25em;
}
#eventos    {
    width: 70%;
    margin-top: 2em;
}
#buttonVolver {
    margin: 1em;
    padding: 0.75em 1.5em;
    background-color: #d7f4ff;
    border: black 0.1em solid;
    border-radius: 2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#buttonVolver:hover {
    background-color: #5CACEE; /* Cambio de color al pasar el mouse */
    color:white;
}

.dias_uno   {width: 60%;
             height: auto;
             margin: auto;
             display: none;
             border-radius: 0.75em;
             background-color: #f7f7f7;
             box-shadow: 0 0.125rem 0.75rem #ad0000;
             padding: 0.25rem;
             font-family: sans-serif;
             transition: transform 1s ease;
             transform-origin: center;
             transform: rotate(0deg);
}
.dias_uno.girado  {transform: rotate(360deg);
                   height: auto;
}
.diactive   {display: block;
             width: auto;
             max-width: 24em;
}
.novisible  {
    display: none;
}
.notitnovisible {
    display: none;
}
#listtema  {
    padding-left: 1em;
}
#spnaol {
    margin: 5em;
    font-weight: 900;
    padding-left: 2em;
}
.titudia    {text-align: center;
             font-size: 1.4rem;
             font-weight: bold;
             font-style: italic;
             text-decoration: underline;
             padding: 0.2em;
}
.textcont   {width: 90%;
             text-align: justify;
             margin: auto;
             font-size: .1px;
             transition: font-size 1.5s ease;
}
.textout    {font-size: 0.8rem;
             animation: font-size 1.5s ease;
}
.fechass    {width: 95%;
             text-align: right;
             margin-top: .25rem;
}
.preportada {
    display: block;
    float: right;
    height: auto;
    margin: auto;
    margin-top: 1em;
    margin-right: 9em;
}
.ulpreportada   {
    list-style: circle;
    list-style-type: circle;
    overflow: visible;
    display: flex;
    width: 43em;
    height: 25em;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
}
.ulfecha    {
    width: 100%;
    text-align: right;
    font-style: oblique;
    font-size: 0.8em;
    padding-top: 0.1em;
    padding-bottom: 1em;
}
.divpreportada  {
    clear: both;
    margin-top: 2em;
}
.circlepreport  {
    width: 1em;
    height: 1em;
    background-color: #6969FF;
    display: inline-block;
    border-radius: 1em;
    margin: 0 0.2em 0 0.2em;
}

@media (width<= 767px) {.dias_uno    {height: auto;
                                      margin: auto;
}
                        .dias_uno.girado  {transform: rotate(360deg);
                                            height: auto;
}
                        .notitas    {float: left;
                                    width: 100%;
                                    margin: auto;
                                    margin-top: 20rem;
                                    margin-bottom: 1rem;
                                    height: auto;
                                    padding-bottom: 2em;
}
                        .ulpreportada   {
                            display: block;
                            width: auto;
                            height: auto;
}
                        .preportada {
                            display: block;
                            width: 90%;
                            float: left;
                            height: auto;
                            margin: auto;
                            margin-top: 18em;
                            margin-left: 2rem;
                            padding-bottom: 2em;
}}
@media (min-width: 767px) and (max-width: 1812px) {.preportada {
                            display: block;
                            width: 100%;
                            height: auto;
                            margin-top: 2em;
                            margin-right: 0;
                            margin-left: 7rem;
                            padding-bottom: 2em;
}
                        .ulpreportada   {
                            display: block;
                            width: auto;
                            height: auto;
}
                        .notitas    {
                            padding-bottom: 2em;
}}
@media(width<=1295px){
                        .dias_uno.girado {
                            width: auto;
}}